@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --mainBgColor: #24293b;
    --secondColor: #393e50;
    --accentColor: #fdfff5;
    --nngasuColorOr: #ef6700;
    --nngasuColorBl: #004588;
}

html {
/* параметры */
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    scroll-behavior: smooth;
/* дизайн */
    background: var(--mainBgColor);
    color: var(--accentColor);
}

body, .bothPages {
/* параметры */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
/* дизайн */
}

.noAnim * {
    animation: none !important;
    transition: none !important;
}

#menu {
    position: fixed;
    margin: auto;
    left: 0;
    right: 300px;
    top: 70px;
    padding: 0;
    background: var(--secondColor);
    height: 400px;
    width: 800px;
    border-radius: 20px;
    opacity: 0;
}

#menu > ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

#menu ul li {
    list-style-type: none;
}

#menu ul li ul {
    padding-bottom: 20px;
}

#menu ul li ul li{
    margin: 5px;
}

#menu a{
    color: var(--accentColor);
    text-decoration: none;
}
